<div class="jumbotron text-center">
        <footer id="footer">
          <div class="content">
            <div id="footerContent" style="text-align: center">
                <p>
                    상호명 : (주)이야기 쓰기 / 이메일 : kjy0836@naver.com / 대표이사 : 김진영 / 사업자등록번호 : 119-86-91245 / 통신판매업신고번호 : 제2018-서울서초-0580호 / 주소 : 서울특별시 서초구 강남대로 373 홍우빌딩 14층 내일의집<br>
                    NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다.  가입 확인
                </p>
            </div>
            <div id="copyright">
                <p>
                    Copyright © 2014 by Bucketplace Inc All Rights Reserved
                </p>
            </div>
        </div>
      </footer>
      </div>
    </body>
    </html>